<ul class="list-comments text-left ml-3" >
    {% for child in comment.children %}
        <li class="comment-children mt-auto">
            <div class="comment-avatar">
                <img src="{{child.author.profilePic ? asset(child.author.profilePic.thumbPath):asset('build/img/user-regular.svg') }}" alt="">
            </div>
            <div class="comment-details">
                <a href="#" data-toggle="modal" data-id="{{ child.author.id }}" data-target="{{ '.profile'~child.author.id}}"> <h4 class="comment-author">{{  child.author.firstName ~' '~child.author.lastName }} </h4></a>
                <span>{{ child.creationDateTime|date('d/m/Y') }} à {{ child.creationDateTime|date('H:m') }}</span>
                <p>
                    {{ child.message}}
                </p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <button class="btn mb-5 addForm" onclick="showACForm({{ child.id }})"  data-id="{{ comment.id }}" >Répondre</button>
                <div class="d-none" id="{{ 'answerComment'~child.id}}">
                    {{ render(controller(
                        'App\\Controller\\CommentController::form', {
                            'action':'answer',
                            'trick':trick,
                            'parent':child.id,
                        }
                    )) }}
                </div>
                {% endif %}
            </div>
            {% if child.children |length >0 %}
                {% include 'comment/_grand_children.html.twig' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>