{{ form_start(formComment)}}
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="form-group">
            {{ form_row(formComment.message,{'attr':{'class':'form-control input-mf','cols':'45', 'rows':'8', 'id':'comment[message]'~trick.id}}) }}
        </div>
    </div>
    {{ form_row(formComment.trick,{'attr':{'value':trick.id},'id':'comment[trick]'~trick.id}) }}
    {{ form_row(formComment.parent,{'attr':{'value':parent},'id':'comment[parent]'~parent}) }}
    <div class="col-md-12">
        <button class="text-center btn  btn-primary">
        {{ button_label|default('Send') }}
        </button>
    </div>
</div>
{{ form_end(formComment) }}
