<ul class="list-comments text-left ml-3">
{% for comment in trick.comments %}
    {% if comment.parent is empty %}
        <li>
            <div class="comment-avatar">
            <img src="{{ comment.author.profilePic ? asset(comment.author.profilePic.thumbPath) :asset('build/img/user-regular.svg') }}" alt="">
            </div>
            <div class="comment-details text-left">
                <a href="#" data-toggle="modal" data-id="{{ comment.author.id }}" data-target="{{ '.profile'~comment.author.id}}"> <h4 class="comment-author">{{  comment.author.firstName ~' '~ comment.author.lastName }} </h4></a>
                <span>{{ comment.creationDateTime|date('d/m/Y') }} à {{ comment.creationDateTime|date('H:m') }}</span>
                <p>
                    {{ comment.message}}
                </p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <button class="btn mb-5 addForm" onclick="showACForm({{ comment.id }})"  data-id="{{ comment.id }}" >Répondre</button>
                <div class="d-none" id="{{ 'answerComment'~comment.id}}">
                    {{ render(controller(
                        'App\\Controller\\CommentController::form', {
                            'action':'answer',
                            'trick':trick,
                            'parent':comment.id,
                        }
                    )) }}
                </div>
                    {% endif %}
            </div>
            {% if comment.children |length >0 %}
                {% include 'comment/_children.html.twig' %}
            {% endif %}
        </li>
    {% endif %}
    {#                                                    {% include '/user/profile.html.twig' with {'user':comment.author} %}#}
{% endfor %}
</ul>