<div class="d-lg-flex d-sm-block justify-content-end align-items-center col-lg-10 col-sm-12 bg-dark py-2 px-2 mx-0 ">
		{% for medium in media %}
				<div class="mx-2 my-2 card w-100 ">
					<img src="{{ medium.thumbPath }}" class="card-img-top" alt="" >
					<div class="image-edit-tool bg-header">
						<div class="d-flex justify-content-end align-items-center">
							<a href="#" class="card-link" data-toggle="modal" data-target="#edit_media_image_{{ medium.id }}"><i class="fas fa-pencil-alt fa-sm text-white-50 edit-tool-item" aria-hidden="true"></i></a>
							{{ include('image_box/_delete_form.html.twig') }}
						</div>
					</div>
					{{ include('image_box/_modal_form_edit_image.html.twig',{'media_action':'edit','medium':medium}) }}
				</div>
		{% endfor %}
	{{ include('image_box/_modal_form_add_image.html.twig',{'media_action':'new'}) }}
	<button class="btn btn-primary" data-toggle="modal" data-target="#new_media_image"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Image</button>
</div>