<div class="modal fade" id="edit_media_image_{{ medium.id }}" tabindex="-1" role="dialog" aria-labelledby="new_media_image_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
									</button>
							</div>
							<div class="modal-body">
									<h5>Edit Image </h5>
									{{ render_esi(url('render_edit_media_image_form', { 'image_box_id':image_box.id,'media_action':'edit_media_image','image': medium.id, })) }}
							</div>
				</div>
		</div>
</div>