<section class="py-5">
    {% if image_box.media|length <1 %}
        {{ include('image_box/_modal_form_add_image.html.twig',{'media_action':'new'}) }}
        <button class="btn btn-primary" data-toggle="modal" data-target="#new_media_image"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Image</button>
    {% endif %}
    <div class="w-100 d-lg-flex align-items-center mx-auto  border border-light bg-primary p-2">
        <div class="image-box col-12 d-lg-flex align-items-center justify-content-between border border-secondary bg-dark mx-0 pl-0">
            {{ include('image_box/previous.html.twig',{'offset':previous}) }}
            <div id="{{ 'img-box-'~image_box.id}}">
            {% include 'image_box/_media_list_edit.html.twig' %}
            </div>
            {{ include('image_box/next.html.twig',{'offset':next}) }}
        </div>
    </div>
</section>
