<div class="col-lg-1 col-sm-12 ">
		<a class="load-img btn  btn-outline-primary" id="{{ 'previous-img'~previous }}" data-offset="{{previous}}" data-id="{{ 'img-box-'~image_box.id}}" data-url="{{ path("image_media_list",{'id':image_box.id}) }}" >
				<i class="fas fa-angle-left text-primary d-none d-lg-block" aria-hidden="true"></i>
				<i class="fas fa-angle-up text-primary mt-2  d-lg-none d-md-block" aria-hidden="true"></i>
		</a>
</div>

