{% extends 'base.html.twig' %}
{% set path_name='image_new' %}
{% set params={} %}
{% block title %}New Image{% endblock %}

{% block main %}
    <h1>Create new Image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">back to list</a>
{% endblock %}
