<iframe src="{{ 'https://player.vimeo.com/video/'~medium.providedId~'?autoplay=0' }}"
				width="150"
				height=""
				frameborder="0"
				webkitallowfullscreen
		    mozallowfullscreen
		    allowfullscreen>
</iframe>