<div class="modal fade" id="edit_media_video_{{ medium.id }}" tabindex="-1" role="dialog" aria-labelledby="new_media_video_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="container-fluid d-flex align-items-center">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">x</span>
										</button>
								</div>
								<div class="modal-body">
										<h5>Edit Video {{ medium.name }}</h5>
										{{ render_esi(url('render_edit_media_video_form', { 'video_box':video_box.id,'media_action':'edit_media_video','video': medium.id, })) }}
								</div>
						</div>
				</div>
		</div>
</div>