<section class="py-5">
    {% if  video_box.media|length <1%}
        {{ include('video_box/_modal_form_add_video.html.twig') }}
        <button class="btn btn-primary" data-toggle="modal" data-target="#new_media_video"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Video</button>
    {% endif %}
    <div class=" w-100 d-lg-flex align-items-center  border border-light bg-primary p-2">
        <div class="video-box col-12 d-lg-flex align-items-center justify-content-between border border-secondary bg-dark mx-0 pl-0">
            {{ include('video_box/previous.html.twig',{'offset':previous}) }}
            <div id="{{ 'vid-box-'~video_box.id}}">
              {% include 'video_box/_media_list_edit.html.twig' %}
            </div>
            {{ include('video_box/next.html.twig',{'offset':next}) }}
        </div>
    </div>
</section>

