{% extends 'base.html.twig' %}
{% set path_name='video_box_index' %}
{% set params={} %}
{% block title %}VideoBox index{% endblock %}

{% block main %}
    <h1>VideoBox index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video_box in video_boxes %}
            <tr>
                <td>{{ video_box.id }}</td>
                <td>{{ video_box.name }}</td>
                <td>{{ video_box.type }}</td>
                <td>{{ video_box.createdAt ? video_box.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('video_box_show', {'id': video_box.id}) }}">show</a>
                    <a href="{{ path('video_box_edit', {'id': video_box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_box_new') }}">Create new</a>
{% endblock %}
