<section class="py-5">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('video_box/_modal_form_add_video.html.twig') }}
        <button class="btn btn-primary" data-toggle="modal" data-target="#new_media_video"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Video</button>
    {% endif %}
    <div class="w-100 d-lg-flex  align-items-center  border border-light bg-primary p-2">
      {% if video_box.media.count >0 %}
        <div class="video-box col-12 d-lg-flex align-items-center justify-content-between border border-secondary bg-dark mx-0 pl-0">
            {{ include('video_box/previous.html.twig',{'offset':previous}) }}
            <div class="vid-box" id="{{ 'vid-box-'~video_box.id}}">
                {% include 'video_box/_media_list.html.twig' %}
            </div>
            {{ include('video_box/next.html.twig',{'offset':next}) }}
        </div>
      {% else %}
          <div class="info col-12">
          <p class=" text-white text-center mt-3">No video to show</p>
          </div>
      {% endif %}
    </div>
</section>
