{% extends 'base.html.twig' %}
{% set path_name='video_show' %}
{% set params={'id': video.id} %}
{% block title %}Video{% endblock %}

{% block main %}
    <h1>Video</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ video.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ video.url }}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <iframe width="100" src="{{ video.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('video_index') }}">back to list</a>

    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>

    {{ include('video/_delete_form.html.twig') }}
{% endblock %}
