$header-bg-gradient: linear-gradient(rgba(255, 255, 255, 0.1), rgba(44, 62, 80, 1));
$header-bg-image: url('../img/snow_mountain.jpg');
$trick-bg-image: var(--bg-image);
$blocks-bg: #145074;
$link-color: #14acd1;
$link-hover-color: #2c3e50;
$btn-hover-color: #145072;
