<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
		<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top" aria-label="Page Top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
</div>