<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="snowtricks.ananzebatanga.com is a study project as part of the online certificate 'Php/Symfony Application Developer' by openclassrooms.com. This case study aims to provide a free online place to share knowledge about snowboard tricks.">
            <meta name="author" content="Virginie Botiba">
            <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/build/img/ico/apple-icon-57x57.png') }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('/build/img/ico/apple-icon-60x60.png') }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{asset( '/build/img/ico/apple-icon-72x72.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{asset( '/build/img/ico/apple-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/build/img/ico/apple-icon-114x114.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('/build/img/ico/apple-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/build/img/ico/apple-icon-144x144.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/build/img/ico/apple-icon-152x152.png') }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/build/img/ico/apple-icon-180x180.png') }}">
            <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('/build/img/ico/android-icon-192x192.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/build/img/ico/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/build/img/ico/favicon-96x96.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/build/img/ico/favicon-16x16.png') }}">
{#            <link rel="manifest" href="/manifest.json">#}
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="{{ asset('/build/img/ico/ms-icon-144x144.png') }}">
            <meta name="theme-color" content="#ffffff">
            <title>Snowtricks {% block title %}{% endblock %}</title>
            <link rel="manifest" href="{{ asset('build/manifest.json') }}">
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
                {{ encore_entry_link_tags('freelancer') }}
                <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
            {% endblock %}
            {% block javascripts %}
                {% for js in encore_entry_js_files('fontawesomeall') %}
                <script src="{{ asset(js) }}" defer="defer"></script>
                {% endfor %}
{#                {% for js in encore_entry_js_files('app') %}#}
{#                <script src="{{ asset(js) }}" defer="defer"></script>#}
{#                {% endfor %}#}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->
            {% endblock %}
        {% endblock %}
    </head>
    <body id="page-top">
    {% include 'messages.html.twig' %}
    {% block body %}
        <div class="container-tricks my-0">
            <!-- Navigation -->
            {% block nav %}
                {% include '/blocs_home/_nav.html.twig' %}
            {% endblock %}
           
            {% block header %}{% endblock %}
            <!-- Main -->
            <main class="main pt-5">
                    <div class="container-fluid pt-5 mx-auto " style="min-height: 85vh">
                   {% block main %}{% endblock %}
                    </div>
            </main>
            <!-- Footer -->
            <footer class="min-vw-100">
                {% block copyright %}
                <!-- Copyright Section-->
                <div class="copyright py-4 text-center text-white-50">
                    <div class=""><small>Copyright © SnowTricks 2020</small></div>
                </div>
                {% endblock %}
            </footer>
            {% block scrolltop %}
                <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
                <div class="scroll-to-top d-lg-none position-fixed">
                    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top" aria-label="Page Top"><i aria-hidden="true" class="fa fa-chevron-up" title="Go To Page Top"></i></a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('freelancer') }}
{#        {{ encore_entry_script_tags('carousel') }}#}
{#        <script>#}
{#            document.addEventListener('DOMContentLoaded', function() {#}
{#                {% for message in app.session.flashBag.get('success') %}#}
{#                $('#toast-success').toast('show');#}
{#                {% endfor %}#}
{#                {% for message in app.session.flashBag.get('error') %}#}
{#                $('#toast-error').toast('show');#}
{#                {% endfor %}#}
{#            });#}
{#        </script>#}
    {% endblock %}
    </body>
</html>
