{% for flashError in app.flashes('verify_email_error') %}
<nav class="navbar bg-transparent shadow-none navbar-alert align-items-center justify-content-center">
		<div class="alert alert-danger row justify-content-center w-100" role="alert">{{ flashError }}</div>
</nav>
{% endfor %}
{% for flashSuccess in app.flashes('verify_email_success') %}
		<nav class="navbar bg-transparent shadow-none navbar-alert align-items-center justify-content-center">
    <div class="alert alert-success row justify-content-center" role="alert">{{ flashSuccess }}</div>
		</nav>
{% endfor %}
{% for error in app.flashes('error') %}
		<nav class="navbar bg-transparent shadow-none navbar-alert align-items-center justify-content-center">
		<div class="alert alert-danger row justify-content-center" role="alert">{{ error }}</div>
		</nav>
{% endfor %}
{% for success in app.flashes('success') %}
				<nav class="navbar bg-transparent shadow-none navbar-alert align-items-center justify-content-center">
    <div class="alert alert-success row justify-content-center" role="alert">{{ success }}</div>
				</nav>
{% endfor %}