{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - error{% endblock %}

{% block stylesheets %}<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">{% endblock %}
{% block header %}{% endblock %}
{% block body %}

<style>

    body {
        background: var(--main-color);
    }
    h1 {
        margin: 200px auto 0 auto;
        color: var(--stroke-color);
        font-family: 'Raleway';
        font-size: 10rem; line-height: 10rem;
        font-weight: 200;
        text-align: center;
    }
    h2 {
        margin: 20px auto 30px auto;
        font-family: 'Raleway';
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
    }
    h1, h2 {
        -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
        transition: opacity 0.5s linear, margin-top 0.5s linear;
    }
</style>
<h1>O0pS!</h1>
<h2>Quelque chose s'est mal passé <b>:(</b></h2>
<div class="row">
    <a href="{{ path('index') }}" class="btn bg_grey black-text col s4 offset-s4 center margin-top"> revenir à la page d'Accueil</a>
</div>
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(function() {
        setTimeout(function(){
            $('body').removeClass('loading');
        }, 1000);
    });
</script>
    {% endblock %}

{% endblock %}
{% block footer %}
{% endblock %}