{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block stylesheets  parent() %}<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <style>
        body {
            font-family: "Poppins";
            height: 100vh;
            background: var(--main-color);
            padding: 1em;
            overflow: hidden;
        }
    </style>
    <a class="a-error-404" href="{{path('index')}}">
        <svg height="0.8em" width="0.8em" viewBox="0 0 2 1" preserveAspectRatio="none">
            <polyline
                    fill="none"
                    stroke="#777777"
                    stroke-width="0.1"
                    points="0.9,0.1 0.1,0.5 0.9,0.9"
            />
        </svg> Accueil
    </a>
    <div class="background-wrapper">
        <h1 id="visual">404</h1>
        <h2 id="oops" >Oops!</h2>
    </div>
    <p class="p-error-404">La page demandée <br>n'existe<br> pas</p>


    {% block scripts %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            $("#oops").hide(0).delay(500).show(1000);
        });
        const visual = document.getElementById("visual")
        const events = ['resize', 'load']
        events.forEach(function(e){
        window.addEventListener(e, function(){
        const width = window.innerWidth
        const height = window.innerHeight
        const ratio = 0 / (width / height)
        visual.style.transform = "translate(-50%, -50%) rotate(-" + ratio + "deg)"
        });
        });

        </script>
    {% endblock %}

{% endblock %}
{% block footer %}
{% endblock %}