{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block stylesheets %}<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<style>
    body {
        background: var(--main-color);
    }
    h1 {
        margin: 100px auto 0 auto;
        color: var(--stroke-color);
        font-family: 'Raleway';
        font-size: 10rem; line-height: 10rem;
        font-weight: 200;
        text-align: center;
    }
    h2 {
        margin: 20px auto 30px auto;
        font-family: 'Raleway';
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
    }
    h1, h2 {
        -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
        transition: opacity 0.5s linear, margin-top 0.5s linear;
    }
</style>
<body class="loading">

        <div class="row">
            <a  href="{{ path('index') }}" class=" a-error col s1 offset-s1 center margin-top"><svg height="0.8em" width="0.8em" viewBox="0 0 2 1" preserveAspectRatio="none">
                    <polyline
                            fill="none"
                            stroke="#777777"
                            stroke-width="0.1"
                            points="0.9,0.1 0.1,0.5 0.9,0.9"
                    />
                </svg>Accueil</a>
        </div>

    <h1>500</h1>
    <h2>Erreur Inattendue <b>:(</b></h2>
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</body>
{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function() {
            setTimeout(function(){
                $('body').removeClass('loading');
            }, 1000);
        });
    </script>
    {% endblock %}

{% endblock %}
{% block footer %}
{% endblock %}