{% extends 'base.html.twig' %}
{% set path_name='trick_add_media' %}
{% set params={'slug': trick.slug} %}
{% block title %}- Edit Media{% endblock %}
{% block main %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="portfolio-modal trick-new" id="portfolioModalAddMedia" tabindex="-1" role="dialog" aria-labelledby="portfolioModalNewLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
						<div class="container">
							<h1 class="card-title text-center my-5">Edit trick media </h1>
								<div class="row">
										<div class="card w-100">
												<div class="media-box">
														<div class="card-body">
																<div class="container-fluid text-center">
																		{% include 'trick/_media.html.twig' %}
																</div>
														</div>
												</div>
										<a class="btn btn-primary btn-primary mb-2" href="{{ path('trick',{'slug':trick.slug}) }}" >Validate</a>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
{% endif %}
{% endblock %}