{% extends 'base.html.twig' %}
{% set path_name='trick' %}
{% set params={'slug': trick.slug} %}
{% set video_box=trick.videoBox %}
{% block title %} - Trick{% endblock %}
{% block main %}
<div class="portfolio-modal  trick-show" id="portfolioModalShow-{{ trick.id~trick.slug }}" tabindex="-1" role="dialog" aria-labelledby="{{'portfolioModal'~trick.id~trick.slug~'Label'}}" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="card  w-100">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="modal-tool edit-tool ">
                                <div class="d-flex justify-content-end">
                                    <a class="card-link" href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                                        <i class="fas fa-pencil-alt fa-sm text-primary edit-tool-item" aria-hidden="true"></i>
                                    </a>
                                    {{ include('trick/_delete_form.html.twig') }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="card border-bottom">
                            <img class="card-img-top p-2 w-100 mx-auto" src="{{trick.highlight ? asset(trick.highlight.originalPath) :  asset('build/img/mountain.jpg') }}" alt="">
                            <div class="card-img-overlay d-flex text-wrap"><h1 class="card-title text-white flex-wrap text-break align-self-center mx-auto">{{ trick.name|upper }}</h1></div>
                        </div>
                        <div class="card-body border-bottom border-info bg-light p-3">
                            <div class="text-info row">
                                <div class="col-lg-4 col-md-12 col-sm-12 border-right " ><span class="mr-2"><em>Updated on:</em></span><span class=""> {{ trick.lastUpdateDateTime ? trick.lastUpdateDateTime |date('Y-m-d') : trick.createdAt |date('Y-m-d') }} </span></div>
                                <div class="col-lg-4 col-md-12 col-sm-12  text-lg-center border-right"><span class="mr-2"><em>Author: </em></span><span class="small">{{ trick.author.username }}</span></div>
                                <div class="col-lg-4 col-md-12 col-sm-12  text-lg-center "><span class="mr-2"><em>Group: </em></span><span class="text-uppercase">{{ trick.groupe.label }}</span></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{trick.description|raw}}
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid text-center bg-light p-3 border-light">
                                <button class="btn btn-block btn-primary mb-2 toggle-media-box d-lg-none d-md-block" >Media</button>
                                <div class="media-box d-none d-lg-block">
                                    {% include 'trick/_media.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 text-center">
                            <!-- Portfolio Modal - Comment-->
                            <div class="box-comments p-0 col-sm-12" >
                                <!-- Comment Form-->
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <h2 class="h4 form-comment-title">
                                        Leave a Comment
                                    </h2>
                                    <div class="form-comments">
                                        {{ render(controller(
                                            'App\\Controller\\CommentController::form', {
                                                'action': 'new',
                                                'trick':trick,
                                                'parent': '0'
                                            }
                                        )) }}
                                    </div>
                                {% endif %}
                                <!-- Comment List-->
                                <div class="title-box col-sm-12">
                                    <h2 class="h4 d-flex align-items-center">Comments ({{ trick.comments|length}}) {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}<span class="ml-1"><i class="fa fa-asterisk" aria-hidden="true"></i> Connectez-vous pour participer à la discussion</span>{% endif %}</h2>
                                </div>
                                {% if trick.comments is defined %}
                                    {% include 'comment/_list.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
